<div class="container">
    <h2>User Details</h2>
  
    <div class="details">
      <div><strong>Username:</strong> {{ user.username }}</div>
      <div><strong>First Surname:</strong> {{ user.firstSurname }}</div>
      <div><strong>Second Surname:</strong> {{ user.secondSurname }}</div>
      <div><strong>NIF:</strong> {{ user.nif }}</div>
      <div><strong>Gender:</strong> {{ user.gender }}</div>
      <div><strong>Address:</strong> {{ user.adrress }}</div>
      <div><strong>Number:</strong> {{ user.number }}</div>
      <div><strong>Door:</strong> {{ user.door }}</div>
      <div><strong>Postal Code:</strong> {{ user.postalCode }}</div>
      <div><strong>City:</strong> {{ user.city }}</div>
      <div><strong>Name School:</strong> {{ user.nameSchool }}</div>
      <div><strong>Studies:</strong> {{ user.studies }}</div>
      <div><strong>Date of Studies:</strong> {{ user.dateStudies }}</div>
    </div>
  </div>
  