<div class="edit-user-container">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" required>
      </div>
      <div class="form-group">
        <label for="firstSurname">First Surname</label>
        <input type="text" id="firstSurname" [(ngModel)]="user.firstSurname" name="firstSurname" required>
      </div>
      <div class="form-group">
        <label for="secondSurname">Second Surname</label>
        <input type="text" id="secondSurname" [(ngModel)]="user.secondSurname" name="secondSurname">
      </div>
      <div class="form-group">
        <label for="nif">NIF</label>
        <input type="text" id="nif" [(ngModel)]="user.nif" name="nif">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" id="gender" [(ngModel)]="user.gender" name="gender">
      </div>
      <div class="form-group">
        <label for="adrress">Address</label>
        <input type="text" id="adrress" [(ngModel)]="user.adrress" name="adrress">
      </div>
      <div class="form-group">
        <label for="number">Number</label>
        <input type="text" id="number" [(ngModel)]="user.number" name="number">
      </div>
      <div class="form-group">
        <label for="door">Door</label>
        <input type="text" id="door" [(ngModel)]="user.door" name="door">
      </div>
      <div class="form-group">
        <label for="postalCode">Postal Code</label>
        <input type="text" id="postalCode" [(ngModel)]="user.postalCode" name="postalCode">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" [(ngModel)]="user.city" name="city">
      </div>
      <div class="form-group">
        <label for="nameSchool">Name School</label>
        <input type="text" id="nameSchool" [(ngModel)]="user.nameSchool" name="nameSchool">
      </div>
      <div class="form-group">
        <label for="studies">Studies</label>
        <input type="text" id="studies" [(ngModel)]="user.studies" name="studies">
      </div>
      <div class="form-group">
        <label for="dateStudies">Date Studies</label>
        <input type="date" id="dateStudies" [(ngModel)]="user.dateStudies" name="dateStudies">
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
  